<html>



<title>Covid</title>

<body style="background-color:yellow;>

<div class="content">
    <h1 style="text-align: center">Please Enter Country Name </h1>

    <div class="form">
        <form action="/details" method="POST">
      <center>  <input type="text" name="content" id="content">
            <input type="submit" value="Search"> </center>
        </form>
    </div>
</div>
</body>

<footer>
  <p>Author: Vinod R <br>
  <a href="#">vinod047rs@gmail.com</a></p>
</footer>
</footer>
</html>